.action-card {
  width: 250px;
  height: 150px;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background: var(--action-card-background-image, #333) center/cover no-repeat;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 100%);
    z-index: 1;
  }

  .card-overlay-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;

    ion-icon {
      font-size: 3.5rem;
      color: white;
      margin-right: 15px;
    }

    .action-text-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .action-text-line {
      color: white;
      font-size: 1.1rem;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.1;
    }
  }
}
