<ion-app>
  <ion-menu contentId="main-content" side="start" menuId="main-menu">
    <ion-header class="ion-no-border">
      @if (userData$ | async; as user) {
      <div class="menu-profile-area ion-padding">
        <div
          class="profile-photo"
          [style.backgroundImage]="'url(' + user.profilePicture + ')'"
        >
          @if (!user.profilePicture) {
            <ion-icon name="person" />
          }
        </div>

        <ion-label class="ion-padding-start">
          <h2 class="user-name">{{ user.displayName }}</h2>
          <p class="user-level">Nível: {{ user.level }}</p>
        </ion-label>
      </div>
      } @else {
      <div class="menu-profile-area ion-padding">
        <div class="profile-icon">
          <ion-icon name="person" />
        </div>
        <ion-label class="ion-padding-start">
          <h2 class="user-name">Carregando...</h2>
          <p class="user-level">Aguarde</p>
        </ion-label>
      </div>
      }

    </ion-header>

    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/home" routerDirection="root">
            <ion-icon slot="start" name="home-outline" color="primary" />
            <ion-label>Dashboard</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/agenda">
            <ion-icon slot="start" name="calendar-outline" color="primary" />
            <ion-label>Agenda de Treinos</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/progresso">
            <ion-icon slot="start" name="trending-up-outline" color="primary" />
            <ion-label>Progresso</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/configuracoes">
            <ion-icon slot="start" name="settings-outline" color="primary" />
            <ion-label>Configurações</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <ion-footer class="ion-no-border">
      <ion-item button class="logout-item" (click)="logout()" lines="none">
        <ion-icon slot="start" name="log-out-outline" color="danger" />
        <ion-label color="danger">Sair</ion-label>
      </ion-item>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
